.container{
  width:500px;
  border:1px solid #eeeeee;
  max-height: 630px;
}
.instruction{
  padding:20px;
  font-size:30px;
}
.grid-container{
  display:flex;
  flex-direction: column;
}
.grid-row-container{
  display:flex;
  flex-direction:row nowrap;
  justify-content:space-evenly;
  margin-bottom:2px;
}
.color-box{
  box-sizing:border-box;
  width:122px;
  height:120px;
  background-color:green;
}
.color-box img{
    border: 2px solid white !important;
    width:100%;
    height:100%;
}

.color-box:hover{
    border:10px solid white !important;
}
.red{
  background-color:red;
}
.blue{
  background-color:blue;
}
.submit{
  align-self:flex-end;
  margin:2px 0 2px 0;
}
.submit a{
  font-size:22px;
  border:2px solid #eee;
  border-radius:2px;
  color:#fff;
  background-color:#4b44f2;
  padding:10px;
}
/*
 * Prevents user from selecting text
 * in the draggable elements
 */
[draggable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* 
 * Prevent the element currently being dragged from
 * receive pointer events, otherwise the dropping
 * zone behind it can't receive the hover mouse events.
 */
.dragster-temp {
  pointer-events: none;
}